/* Carrusel (slideshow) */
.slideshow {
    position: relative;
    width: 100%; /* Usa todo el ancho disponible */
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    background: black; /* Fondo para imágenes que no ocupen todo */
}

.slideshow img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen sin deformarla */
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slideshow img.active {
    opacity: 1;
    z-index: 1;
}
